<div class="cl2"></div>

<div class="callout cImpact">
  <div class="callout-in">
    <h2>기초부터 탄탄하게! 스프링 부트 복습 및 정리</h2>
    <p style="padding-top: 16px;"><a href="https://preasim.github.io/62">1P - POJO, IoC, DI, AOP, PSA ></a></p>
    <p style="padding-left: 42px;"><a href="https://preasim.github.io/63">1.1P - DI / 의존성 주입은 왜 필요한가? ></a></p>
    <p><a href="https://preasim.github.io/65">2P - 어노테이션 정리 ></a></p>
    <p><a href="https://preasim.github.io/66">3P - 빈(Bean) 생명주기와 범위 ></a></p>
    <p><a href="https://preasim.github.io/67">4P - 컴포넌트 스캔과 의존성 자동 주입, @Autowired ></a></p>
    <p><a href="https://preasim.github.io/68">5P - AOP (관심 지향 프로그래밍) ></a></p>
    <p><a href="https://preasim.github.io/69">6P - Spring MVC / MVC의 동작 방식과 구성 요소 ></a></p>
    <p><a href="https://preasim.github.io/70">7P - REST, REST API ></a></p>
    <p><a href="https://preasim.github.io/71">8P - HTTP Header ></a></p>
  </div>
</div>